/**
 *
 * {{ properCase name }}
 *
 */

{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}

const {{ properCase name }} = ({data}) => {
  return (
    <div>
        salem
    </div>
  );
}

export default {{ properCase name }};
